@model IEnumerable<moit_lab.Models.HumanResourcesModel>


<h2>Staff</h2>
<table class="table">
    @foreach (var staffMember in Model)
    {
    <tr>
        <td>@staffMember.Id</td>
        <td>@staffMember.FamilyName</td>
        <td>@staffMember.Name</td>
        <td>@staffMember.Surname</td>
        <td>
            <a class="btn btn-sm btn-primary" asp-action="More" asp-route-staffMemberId="@staffMember.Id">More</a>
        </td>
        @if (User.IsInRole("admin"))
        {
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-staffMemberId="@staffMember.Id">Edit</a>
            </td>

            <td>
                <form asp-action="Delete" asp-route-id="@staffMember.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </form>
            </td>
        }
    </tr>
    }
</table>
@if (User.IsInRole("admin"))
{
    <a class="btn btn-sm btn-primary" asp-action="Create"><span class="glyphicon glyphicon-plus"></span> Add new member</a>
}

